@import url("../fonts/fonts.css");

/** Addtional fonts go here: https://gwfh.mranftl.com/fonts **/

html,body{
	font-family: Lato, 'Helvetica Neue', Arial, sans-serif;
	font-size: 18px;
}

h1,h2,h3,h4,h5{
	font-family: 'Crimson Text', Georgia, 'Times New Roman', serif;
}


.background-image-changer{
  transition: background 0.3s ease-out;
  background-size: cover;
  background-position: center;
}

img{
	width: 100%;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#chart{
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#map{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
#map_iframe{
	margin-bottom: 0;
}
#map p{
	font-size: smaller;
	font-style: italic;
}

/* 
.looping-background-video{
	background-image: url(../assets/refinery.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
} */




/** expand utlities/sizing to include 25 and 50 **/
.vw-25 { width: 25vw !important; }
.vh-25 { height: 25vh !important; }
.vw-50 { width: 50vw !important; }
.vh-50 { height: 50vh !important; }


/** clearfix for position:sticky **/
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}


/** Looping Background Video **/

.looping-background-video{
	position: relative;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(99, 98, 98, 0.6); 	/* shade over video for foreground-background separation */
	color: #fff; 						/* make text color white */
}

.looping-background-video video,
.looping-background-video img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100dvw;
	height: auto;
	z-index: -100;
}


/** Sticky for scrollytelling layout **/
[data-sticky-graphic] {
	top: 35%;
}

